@{
    ViewData["Title"] = "Home Page";
}     

<div class="container text-center">
        @* <img src="./Images/1663095122-shiva-ascetic-householder.jpg" class="rounded float-start"  alt="Alternate Text" /> *@
        <h1>Welcome To Leave Management Web Appication</h1>
        <p>This is built on ASP.NET Core MVC Web App using Entity Framework Core as the ORM</p>
</div>