html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    width: 80%; /* This sets the width to 80% of the container */
    margin: 0 auto; /* This centers the footer horizontally */
}
